@main: #74c162;
@blue: #007bff;
@green: #28a745;
@red: #dc3545;
@gray: #6c757d;
@dark: #343a40;
@light: #f8f9fa;

:root {
    --vh: 100vh;
}

* {
    font-family: 'Livvic', sans-serif;
}

.bg-main {
    background-color: @main !important;

    a&:focus, a&:hover {
        background-color: darken(@main, 10%);
    }
}

.btn-main {
    color: #fff;
    background-color: @main !important;

    &:hover {
        color: #fff;
        background-color: darken(@main, 10%) !important;
    }

    &:disabled, &:disabled:hover, &.disabled, &.disabled:hover {
        background-color: lighten(@main, 10%) !important;
        cursor: default;
    }
}

.text-main {
    color: @main !important;

    &:hover, &:focus {
        color: darken(@main, 10%);
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loader {
    .d-flex();
    border-radius: 50%;
    -webkit-animation: spin .9s ease-in-out infinite;
    animation: spin .9s ease-in-out infinite;
    border: 4px solid rgba(0,0,0,0.15);
    border-top-color: @main;

    &.sm {
        width: 1.35rem;
        height: 1.35rem;
        border-color: rgba(255,255,255,0.5);
        border-top-color: darken(@main, 10%);
    }

    &.md {
        width: 2.5rem;
        height: 2.5rem;
    }

    &.lg {
        width: 5rem;
        height: 5rem;
        border-width: .45rem;
    }
}

.loader-spin(){
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    } to {
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
    }
}

@keyframes spin { .loader-spin() }
@-webkit-keyframes spin { .loader-spin() }

.typing:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4,end) 900ms infinite;
    -webkit-animation: ellipsis steps(4,end) 900 infinite;
    content: "\2026";
    width: 0px;
}

@keyframes ellipsis { to { width: 1.25rem; } }
@-webkit-keyframes ellipsis { to { width: 1.25rem; } }

textarea, input {
    .d-block();
    height: cacl(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
        outline: 0;
        border-color: @main;
        box-shadow: 0 0 0 0.2rem fadeout(@main, 75%);
    }

    &.is-valid, &.is-invalid {
        padding-right: calc(1.5em + 0.75rem);
        background-repeat: no-repeat;
        background-position: center right calc(0.735em + 0.1875rem);
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

    &.is-valid {
        border-color: @green;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");

        &:focus {
            border-color: @green;
            box-shadow: 0 0 0 0.2rem fadeout(@green, 75%);
        }
    }

    &.is-invalid {
        border-color: @red;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");

        &:focus {
            border-color: @red;
            box-shadow: 0 0 0 0.2rem fadeout(@red, 75%);
        }
    }
}

button {
    &:disabled { opacity: .65; }

    &.full { .d-block() }

    &.link {
        font-weight: 400;
        color: @blue;
        text-decoration: none;

        &:hover {
            color: darken(@blue, 10%);
            text-decoration: underline;
        }

        &:focus, &.focus {
            text-decoration: none;
            box-shadow: none;
        }

        &:disabled, &.disabled {
            color: @gray;
            pointer-events: none;
        }
    }
}

.circle() { border-radius: 50%; }

.d-block() {
    display: block;
    width: 100%;
}

.d-flex() {
    display: flex;
    display: -ms-flexbox;
}

.item-center() {
    -ms-flex-align: center;
    align-items: center;
}

.justify-center() {
    justify-content: center;
    -ms-flex-pack: center;
}

.abso-full() {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.item-flex-middle {
    .d-flex();
    .item-center();
    .justify-center();
}

.menu-btn() {
    .d-block();
    color: black;
    text-align: left;
    padding: .5rem 1rem;
    font-size: .9rem;
    transition: all .15s ease-in-out;

    &:focus { outline: none }
    &:hover:not(:disabled):not(.disabled) { background-color: fadeout(@main, 85%) }

}

// fixed pattern for CSSTransition
.fade-enter, .fade-menu-enter {
    opacity: 0;
}
.fade-exit, .fade-menu-exit {
    opacity: 1;
}
.fade-enter-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
}
.fade-exit-active {
    opacity: 0;
    transition: all 300ms ease-in-out;
}
.fade-menu-enter-active {
    opacity: 1;
    transition: all 100ms ease-in-out;
}
.fade-menu-exit-active {
    opacity: 0;
    transition: all 100ms ease-in-out;
}
// ================================== //

.login {
    &.body {
        .abso-full();
        background-image: url(./bg.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        .item-flex-middle();
    }

    .card {
        width: 20rem;
        background-color: @light;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
        border: 1px solid rgba(0,0,0,0.125);
        border-radius: .25rem;
        padding: 1.25rem;
        text-align: center;

        h4, input { margin-bottom: 1rem; }

        button { margin-bottom: .5rem; }
    }
}

.init-loading {
    .abso-full();
    .item-flex-middle();

}

.sidebar {
    width: 20rem;
    background-color: #fff;
    border-right: 1px solid @gray;
    transition: all .15s ease-in-out;

    @media (max-width: 767.98px) {
        .abso-full();
        width: 100%;
        height: 100%;
        z-index: 1;
        border: none;
    }

    .header {
        height: 4.2rem;
        .d-flex();
        padding: .5rem 1rem;
        border-bottom: 1px solid @gray;
        background-color: @main;

        .close-sidebar {
            display: none;
            width: 1.25rem;
            margin-left: .5rem;
            margin-right: 1rem;
            cursor: pointer;
            fill: #fff;

            @media (max-width: 767.98px) { display: block }
        }

        img {
            width: 3rem;
            height: 3rem;
            border: 1px solid @light;
            padding: .1rem;
            background-color: #fff;
            .circle();
        }

        h2 {
            line-height: 1.4;
            color: #fff;
            margin-left: .5rem;
            margin-bottom: 0;
        }

        .menu {
            position: relative;
            display: inline-block;
            margin-left: auto;
            padding-top: .25rem;

            svg {
                width: .8rem;
                fill: #fff;
                margin-left: auto;
                margin-right: .5rem;
                cursor: pointer;
            }

            div {
                position: absolute;
                right: 0;
                padding: .5rem 0;
                top: 2.9rem;
                border-radius: .5rem;
                background-color: #fff;
                min-width: 200px;
                box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.25);
                z-index: 1;

                button {
                    .menu-btn();
                }
            }
        }
    }

    .search { padding: .5rem 1rem }

    .footer { padding: 1rem }
}

.rooms, .rooms-modal {
    .content {
        .d-flex();
        width: 100%;
        transition: all .15s ease-in-out;
        padding: .75rem;
        cursor: pointer;

        &:hover { background-color: fadeout(@main, 85%) }
        &.active { background-color: fadeout(@main, 75%) }

        img {
            width: 3rem;
            height: 3rem;
            .circle();
        }

        .info {
            display: block;
            margin-left: .75rem;
            overflow-x: hidden;
        }
    }
}

.rooms {
    height: calc(var(--vh) - 11.92rem);
    overflow: auto;
    border-bottom: 1px solid @gray;

    .no-room {
        color: @gray;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.rooms-modal {
    max-height: 20rem;
    overflow-y: auto;
}

#room-modal-title { font-size: 1.25rem }

.home {
    width: calc(100vw - 20rem);
    background-color: #fff;

    @media (max-width: 767.98px) { width: 100% }

    .header {
        .d-flex();
        height: 4.2rem;
        padding: .5rem 1rem;
        background-color: @main;
        border-bottom: 1px solid @gray;
        align-items: center;
        -ms-flex-align: center;

        .avatar {
            width: 3rem;
            height: 3rem;
            border: 1px solid @light;
            padding: .1rem;
            background-color: #fff;
            .circle();

            &.hide { display: none }
        }

        .name {
            line-height: 1;
            color: #fff;
            margin-bottom: 0;
            margin-left: .5rem;
            font-weight: 700;

            span {
                display: block;
                line-height: 1.4;
                font-weight: 300;
                font-size: .9rem;
            }
        }

        .open-sidebar {
            display: none;
            width: 2rem;
            height: 3rem;
            margin-right: 1rem;
            margin-left: .5rem;
            cursor: pointer;
            fill: #fff;

            @media (max-width: 767.98px) { display: block }
        }

        .menu {
            .sidebar .header .menu();
            padding-top: 0;

            svg {
                width: 1.5rem;
                margin-right: 0;
            }

            div { top: 1.75rem }
        }
    }

    .footer {
        padding: 1rem;

        @media (max-width: 767.98px) { padding: .5rem }

        textarea { resize: none }
        button { padding: 0 .75rem }
        label {
            margin: 0;
            padding: .25rem .75rem;
            cursor: pointer;
        }
    }
}

.btn-send-file {
    padding: 0 .75rem;
    border-radius: 0 .25rem .25rem 0 !important;
}

.messages {
    height: calc(var(--vh) - 8.55rem);
    margin: 0;
    padding: 1rem;
    overflow-y: auto;
    border-bottom: 1px solid @gray;

    @media (max-width: 767.98px) { height: calc(var(--vh) - 7.55rem) }

    .load-more {
        .d-flex();

        button {
            background-color: #ddd;
            margin: 0 auto .75rem;
            font-size: .8rem;
            border-radius: 1rem;
            transition: all .15s ease-in-out;

            &:hover {
                background-color: @main;
                color: #fff;
            }

            &:focus { outline: none }
        }
    }

    .message {
        width: 100%;
        margin-bottom: .25rem;

        .date {
            display: block;
            padding: .25rem .5rem;
            background: #ddd;
            font-size: .8rem;
            margin: 0 auto .5rem;
            text-align: center;
            width: 6rem;
            border-radius: 1rem;
        }

        &.left .chat .bubble {
            border-radius: 0 1rem 1rem 0;

            .options {
                .icon { background-color: @light }
    
                &:not(.active) .icon:hover { background-color: #e6e6e6 }
                &:not(.top) .menu.right { border-top-left-radius: 0 }
                &.top .menu.right { border-bottom-left-radius: 0 }
    
                .menu.right {
                    border-radius: .5rem;
                    right: calc(-160px + 2rem);
                }
            }
        }

        &.right .chat .bubble {
            background-color: lighten(saturate(@main, 25%), 5%);
            border-radius: 1rem 0 0 1rem;

            &:not(.first) .options .icon { border-top-right-radius: 0 }
        }

        

        .chat {
            .d-flex();
            .item-center();

            .bubble {
                position: relative;
                font-size: .9rem;
                word-wrap: break-word;
                white-space: pre-wrap;
                background-color: @light;
                padding: .5rem 1rem;
                min-width: 15%;
                max-width: 65%;
                border: 1p solid #c1c1c1;
                box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);

                &:hover .options .icon { opacity: 1 }

                &.first {
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                }

                &.last {
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                }

                &.attachment { max-width: 16.5rem }

                .attachment {
                    .d-block();
                    margin: .5rem 0;

                    .file {
                        background: rgba(0,0,0,0.1);
                        padding: .25rem .5rem .5rem;
                    }
                }

                .options {
                    position: absolute;
                    top: 0;
                    right: 0;

                    &.active {
                        .icon {
                            opacity: 1;
                            background-color: @light;
                        }

                        &:not(.top) .icon {
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                        }

                        &.top .icon {
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                            z-index: 2;
                            box-shadow: -0.05rem 0.15rem 0.5rem rgba(0,0,0,0.25);
                        }

                        .menu { display: block }
                    }

                    &:not(.active) .icon:hover { background-color: darken(saturate(@main,10%), 10%) }

                    &.top .menu {
                        z-index: 1;
                        border-radius: .5rem;
                        border-bottom-right-radius: 0;
                    }

                    .icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        opacity: 0;
                        cursor: pointer;
                        padding: .35rem .5rem;
                        .circle();
                        background-color: saturate(@main, 10%);
                        box-shadow: -0.05rem 0.075rem .5rem rgba(0,0,0,0.25);
                        transition: all .15s ease-in-out;
                        
                        svg {
                            width: 1rem;
                            fill: rgba(0,0,0,0.75);
                        }
                    }

                    .menu {
                        display: none;
                        position: absolute;
                        top: 2rem;
                        right: 0;
                        padding: .5rem 0;
                        border-radius: .5rem;
                        border-top-right-radius: 0;
                        background-color: @light;
                        min-width: 160px;
                        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
                        z-index: 1;

                        button {
                            .menu-btn();
                        }
                    }
                }
            }

            .info {
                font-size: 75%;
                margin-left: .5rem;
                color: @gray;
            }

            .status {
                width: 1.15rem;
                margin-left: auto;
                margin-right: .5rem;
                opacity: .75;
            }
        }
    }
}