:root {
  --main: #74c162;
}

* {
  font-family: 'Livvic', sans-serif;
}

.bg-main {
  background-color: var(--main) !important
}

a.bg-main:focus, a.bg-main:hover {
  background-color: #55bd97;
}

.btn-main {
  color: #fff;
  background-color: var(--main) !important;
}

.btn-main:hover {
  color: #fff;
  background-color: #55bd97 !important;
}

.btn-main:disabled, .btn-main:disabled:hover, .btn-main.disabled, .btn-main.disabled:hover {
  background-color: #99d88b !important;
  cursor: default;
}

.text-main {
    color: var(--main) !important
}

.text-main:hover, .text-main:focus {
    color: #55bd97
}

/* .text-bold {
  font-weight: 700;
} */

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-0 {
  margin: 0;
}

.loader {
    border-radius: 50%;
    display: inline-flex;
    display: inline-flexbox;
    -webkit-animation: spin .9s ease-out infinite;
    animation: spin .9s ease-out infinite
}

.loader.sm {
    width: 1.35rem;
    height: 1.35rem;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-top-color: #3aa56b
}

.loader.md {
    width: 2.5rem;
    height: 2.5rem;
    border: 4px solid rgba(0, 0, 0, 0.15);
    border-top-color: var(--main)
}

.loader.lg {
    width: 5rem;
    height: 5rem;
    border: .45rem solid rgba(0, 0, 0, 0.15);
    border-top-color: var(--main)
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
    } to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform:rotate(0deg)
    } to {
        -webkit-transform: rotate(1turn);
        transform:rotate(1turn)
    }
}

.typing:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
      width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
      width: 1.25em;    
  }
}

input, textarea {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: var(--main) !important;
  box-shadow: 0 0 0 0.2rem rgba(4, 255, 0, 0.25) !important;
}

input.is-valid {
  border-color: #28a745;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

input.is-valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

input.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

input.is-invalid:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

button:disabled { opacity: .65 }

button.full {
  display: block;
  width: 100%;
}

button.link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}

button.link:hover {
  color: #0056b3;
  text-decoration: underline;
}

button.link:focus, button.link.focus {
  text-decoration: underline;
  box-shadow: none;
}

button.link:disabled, button.link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.circle {
  border-radius: 50%;
}

.item-flex-middle {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align:center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center
}

.fade-enter, .fade-menu-enter {
  opacity: 0;
}

.fade-exit, .fade-menu-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.fade-menu-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}

.fade-menu-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.login-body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login-card {
  width: 20rem;
  background-color: #f5f5f5;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 1.25rem;
  text-align: center
}

.login-card h4, .login-card input {
  margin-bottom: 1rem;
}

.login-card button {
  margin-bottom: .5rem
}

.init-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -ms-flex-align: center;
}

.sidebar {
  width: 20rem;
  background-color: #fff;
  border-right: 1px solid var(--gray);
  transition: all .15s ease-in-out;
}

/* .sidebar.active {
    display: block
} */

.sidebar-header {
  height: 4.2rem;
  display: flex;
  display: -ms-flexbox;
  padding: .5rem 1rem;
  border-bottom: 1px solid var(--gray);
  background-color: var(--main);
}

.close-menu {
  display: none;
  width: 1.25rem;
  margin-left: .5rem;
  margin-right: 1rem;
  cursor: pointer;
  fill: #fff;
}

.sidebar-header img {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--light);
  padding: .1rem;
  background-color: #fff;
  border-radius: 50%;
}

.sidebar-header h2 {
  line-height: 1.4;
  color: #fff;
  margin-left: .5rem;
  margin-bottom: 0;
}

.profile-more {
  position: relative;
  display: inline-block;
  margin-left: auto;
  padding-top: .25rem;
}

.profile-more svg {
  width: .8rem;
  fill: #fff;
  margin-left: auto;
  margin-right: .5rem;
  cursor: pointer;
}

.profile-more div {
  position: absolute;
  right: 0;
  padding: .5rem 0;
  top: 2.9rem;
  border-radius: .5rem;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0, .25);
  z-index: 1
}

.profile-more div button {
  color: black;
  text-align: left;
  padding: .5rem 1rem;
  font-size: .9rem;
  display: block;
  width: 100%;
  transition: all .15s ease-in-out
}

.profile-more div button:focus { outline: none }

.profile-more div button:hover {background-color: #74c16233}

.search-room {
  padding: .5rem 1rem;
}

.room-list {
  height: calc(100vh - 11.92rem);
  overflow-y: auto;
  border-bottom: 1px solid var(--gray);
}

.no-room-label {
  color: var(--gray);
  margin-left: 1rem;
  margin-right: 1rem;
}

.room-content {
  display: flex;
  width: 100%;
  transition: all .15s ease-in-out;
  padding: .75rem;
  cursor: pointer;
}

.room-content:hover {
  background-color: #74c16233;
}

.room-content.active {
  background-color: #74c1625e;
}

.room-content img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.room-content-info {
  display: block;
  margin-left: .75rem;
  overflow-x: hidden;
}

.sidebar-footer {
  padding: 1rem
}

#room-modal-title {
  font-size: 1.25rem;
}

.room-modal-list {
  max-height: 20rem;
  overflow-y: auto;
}

.home-content {
  width: calc(100vw - 20rem);
  background-color: #fff;
}

.home-header {
  height: 4.2rem;
  padding: .5rem 1rem;
  background-color: var(--main);
  border-bottom: 1px solid var(--gray);
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center
}

.header-img {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--light);
  padding: .1rem;
  background-color: #fff;
  border-radius: 50%;
}

.header-img.hide {
  display: none;
}

.target-name {
  line-height: 1;
  color: #fff;
  margin-bottom: 0;
  margin-left: .5rem;
  font-weight: 700;
}

.target-name span {
  display: block;
  line-height: 1.4;
  font-weight: 300;
  font-size: .9rem;
}

.open-menu {
  display:none;
  width: 2rem;
  height: 3rem;
  margin-right: 1rem;
  margin-left: .5rem;
  cursor: pointer;
  fill: #fff
}

.room-menu {
  position: relative;
  display: inline-block;
  margin-left: auto
}

.room-menu svg {
  width: 1.5rem;
  fill: #fff;
  cursor: pointer
}

.room-menu div {
  position: absolute;
  right: 0;
  padding: .5rem 0;
  top: 1.75rem;
  border-radius: .5rem;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0, .25);
  z-index: 1
}

.room-menu div button {
  color: black;
  text-align: left;
  padding: .5rem 1rem;
  font-size: .9rem;
  display: block;
  width: 100%;
  transition: all .15s ease-in-out;
}

.room-menu div button:focus { outline: none }

.room-menu div button:hover {background-color: #74c16233}

.room-menu.active div {display: block}

.chat-content {
  height: calc(100vh - 8.55rem);
  margin: 0;
  padding: 1rem;
  overflow-y: auto;
  border-bottom: 1px solid var(--gray);
}

.chat-content .load-more {
  display: flex;
}

.chat-content .load-more button {
  background-color: #ddd;
  margin: 0 auto .75rem;
  font-size: .8rem;
  border-radius: 1rem !important;
  transition: all .15s ease-in-out;
}

.chat-content .load-more button:hover {
  background-color: var(--main);
  color: #fff
}

.chat-content .load-more button:focus { outline: none; }

.message {
  width: 100%;
  margin-bottom: .25rem;
}

/* .message.right + .message.left, .message.left + .message.right {
  margin-bottom: .75rem;
} */

/* .message.right {
  text-align: right;
} */

.message .date {
  display: block;
  padding: .25rem .5rem;
  background-color: #ddd;
  font-size: .8rem;
  margin: 0 auto .5rem;
  text-align: center;
  width: 6rem;
  border-radius: 1rem;
}

.message .chat {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
}

.message .chat .bubble {
  position: relative;
  font-size: .9rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: var(--light);
  padding: .5rem 1rem;
  min-width: 15%;
  max-width: 65%;
  border: 1px solid #c1c1c1;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0, .25);
}

.message .chat .bubble .options {
  position: absolute;
  top: 0;
  right: 0
}

.message .chat .bubble .options .icon {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  padding: .35rem .5rem;
  border-radius: 50%;
  background-color: #8de478;
  box-shadow: -0.05rem 0.075rem .5rem rgba(0,0,0, .25);
  transition: all .1s ease-in-out;
}

.message .chat .bubble .options .icon svg {
  width: 1rem;
  fill: rgba(0,0,0,0.75);
}

.message .chat .bubble:hover .options .icon, .message .chat .bubble .options.active .icon { opacity: 1 }

.message .chat .bubble .options.active .icon { background-color: var(--light) }

.message .chat .bubble .options.active:not(.top) .icon {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.message .chat .bubble .options.active.top .icon {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  z-index: 2;
  box-shadow: -0.05rem 0.15rem 0.5rem rgba(0,0,0, .25);
}

.message .chat .bubble .options:not(.active) .icon:hover { background-color: #80d46c }

.message.left .chat .bubble .options .icon { background-color: var(--light) }

.message.left .chat .bubble .options:not(.active) .icon:hover { background-color: #e6e6e6 }

.message.right .chat .bubble:not(.first) .options .icon {
  border-top-right-radius: 0;
}

.message .chat .bubble .options .menu {
  display: none;
  position: absolute;
  right: 0;
  padding: .5rem 0;
  top: 2rem;
  border-radius: .5rem;
  border-top-right-radius: 0;
  background-color: var(--light);
  min-width: 160px;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0, .25);
  z-index: 1
}

.message .chat .bubble .options.top .menu {
  /* top: -55px; */
  z-index: 1;
  border-radius: .5rem;
  border-bottom-right-radius: 0;
}

.message:not(.right) .chat .bubble .options .menu.right {
  border-radius: .5rem;
  right: calc(-160px + 2rem);
}

.message:not(.right) .chat .bubble .options:not(.top) .menu.right { border-top-left-radius: 0 }

.message:not(.right) .chat .bubble .options.top .menu.right { border-bottom-left-radius: 0 }

.message .chat .bubble .options.active .menu { display: block }

.message .chat .bubble .options .menu button {
  color: black;
  text-align: left;
  padding: .5rem 1rem;
  font-size: .9rem;
  display: block;
  width: 100%;
  transition: all .15s ease-in-out;
}

.message .chat .bubble .options .menu button:focus { outline: none }

.message .chat .bubble .options .menu button:hover:not(:disabled) {background-color: #74c16233}

.message.right .chat .bubble {
  background-color: #91e87b;
  border-radius: 1rem 0 0 1rem;
}

.message:not(.right) .chat .bubble {
  border-radius: 0 1rem 1rem 0;
}

.message .chat .bubble.first {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.message .chat .bubble.last {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.message .chat .bubble.attachment {
  max-width: 16.5rem;
}

.message .chat .info {
  font-size: 75%;
  margin-left: .5rem;
  color: var(--gray);
}

.message .chat .status {
  width: 1.15rem;
  margin-left: auto;
  margin-right: .5rem;
  opacity: .75;
}

.message .chat .bubble .attachment {
  display: block;
  width: 100%;
  margin: .5rem 0
}

.message .chat .attachment.file {
  background: rgba(0,0,0,0.1);
  padding: .25rem .5rem .5rem;
}

.chat-footer {
    padding: 1rem;
}

.chat-footer textarea {
    resize: none;
}

.chat-footer button {
    padding: 0 .75rem;
}

.chat-footer label {
    margin: 0;
    padding: .25rem .75rem;
    cursor: pointer
}

.btn-send-file {
  padding: 0 .75rem;
  border-radius: 0 .25rem .25rem 0 !important
}

@media (max-width: 767.98px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: none;
    /* display: none; */
  }

  .close-menu {
    display: block;
  }

  .home-content {
    width: 100%;
  }

  .open-menu {
    display: block;
  }
}