:root {
  --vh: 100vh;
}
* {
  font-family: 'Livvic', sans-serif;
}
.bg-main {
  background-color: #74c162 !important;
}
a.bg-main:focus,
a.bg-main:hover {
  background-color: #58ac44;
}
.btn-main {
  color: #fff;
  background-color: #74c162 !important;
}
.btn-main:hover {
  color: #fff;
  background-color: #58ac44 !important;
}
.btn-main:disabled,
.btn-main:disabled:hover,
.btn-main.disabled,
.btn-main.disabled:hover {
  background-color: #94cf87 !important;
  cursor: default;
}
.text-main {
  color: #74c162 !important;
}
.text-main:hover,
.text-main:focus {
  color: #58ac44;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.loader {
  display: flex;
  display: -ms-flexbox;
  border-radius: 50%;
  -webkit-animation: spin 0.9s ease-in-out infinite;
  animation: spin 0.9s ease-in-out infinite;
  border: 4px solid rgba(0, 0, 0, 0.15);
  border-top-color: #74c162;
}
.loader.sm {
  width: 1.35rem;
  height: 1.35rem;
  border-color: rgba(255, 255, 255, 0.5);
  border-top-color: #58ac44;
}
.loader.md {
  width: 2.5rem;
  height: 2.5rem;
}
.loader.lg {
  width: 5rem;
  height: 5rem;
  border-width: 0.45rem;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
.typing:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  -webkit-animation: ellipsis steps(4, end) 900 infinite;
  content: "\2026";
  width: 0px;
}
@keyframes ellipsis {
  to {
    width: 1.25rem;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25rem;
  }
}
textarea,
input {
  display: block;
  width: 100%;
  height: cacl(4.25em);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
textarea:focus,
input:focus {
  outline: 0;
  border-color: #74c162;
  box-shadow: 0 0 0 0.2rem rgba(116, 193, 98, 0.25);
}
textarea.is-valid,
input.is-valid,
textarea.is-invalid,
input.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: center right calc(0.735em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
textarea.is-valid,
input.is-valid {
  border-color: #28a745;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
textarea.is-valid:focus,
input.is-valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
textarea.is-invalid,
input.is-invalid {
  border-color: #dc3545;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}
textarea.is-invalid:focus,
input.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
button:disabled {
  opacity: 0.65;
}
button.full {
  display: block;
  width: 100%;
}
button.link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}
button.link:hover {
  color: #0062cc;
  text-decoration: underline;
}
button.link:focus,
button.link.focus {
  text-decoration: none;
  box-shadow: none;
}
button.link:disabled,
button.link.disabled {
  color: #6c757d;
  pointer-events: none;
}
.item-flex-middle {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.fade-enter,
.fade-menu-enter {
  opacity: 0;
}
.fade-exit,
.fade-menu-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.fade-exit-active {
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.fade-menu-enter-active {
  opacity: 1;
  transition: all 100ms ease-in-out;
}
.fade-menu-exit-active {
  opacity: 0;
  transition: all 100ms ease-in-out;
}
.login.body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.login .card {
  width: 20rem;
  background-color: #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1.25rem;
  text-align: center;
}
.login .card h4,
.login .card input {
  margin-bottom: 1rem;
}
.login .card button {
  margin-bottom: 0.5rem;
}
.init-loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.sidebar {
  width: 20rem;
  background-color: #fff;
  border-right: 1px solid #6c757d;
  transition: all 0.15s ease-in-out;
}
@media (max-width: 767.98px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: none;
  }
}
.sidebar .header {
  height: 4.2rem;
  display: flex;
  display: -ms-flexbox;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #6c757d;
  background-color: #74c162;
}
.sidebar .header .close-sidebar {
  display: none;
  width: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  fill: #fff;
}
@media (max-width: 767.98px) {
  .sidebar .header .close-sidebar {
    display: block;
  }
}
.sidebar .header img {
  width: 3rem;
  height: 3rem;
  border: 1px solid #f8f9fa;
  padding: 0.1rem;
  background-color: #fff;
  border-radius: 50%;
}
.sidebar .header h2 {
  line-height: 1.4;
  color: #fff;
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.sidebar .header .menu {
  position: relative;
  display: inline-block;
  margin-left: auto;
  padding-top: 0.25rem;
}
.sidebar .header .menu svg {
  width: 0.8rem;
  fill: #fff;
  margin-left: auto;
  margin-right: 0.5rem;
  cursor: pointer;
}
.sidebar .header .menu div {
  position: absolute;
  right: 0;
  padding: 0.5rem 0;
  top: 2.9rem;
  border-radius: 0.5rem;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.sidebar .header .menu div button {
  display: block;
  width: 100%;
  color: black;
  text-align: left;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  transition: all 0.15s ease-in-out;
}
.sidebar .header .menu div button:focus {
  outline: none;
}
.sidebar .header .menu div button:hover:not(:disabled):not(.disabled) {
  background-color: rgba(116, 193, 98, 0.15);
}
.sidebar .search {
  padding: 0.5rem 1rem;
}
.sidebar .footer {
  padding: 1rem;
}
.rooms .content,
.rooms-modal .content {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  transition: all 0.15s ease-in-out;
  padding: 0.75rem;
  cursor: pointer;
}
.rooms .content:hover,
.rooms-modal .content:hover {
  background-color: rgba(116, 193, 98, 0.15);
}
.rooms .content.active,
.rooms-modal .content.active {
  background-color: rgba(116, 193, 98, 0.25);
}
.rooms .content img,
.rooms-modal .content img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.rooms .content .info,
.rooms-modal .content .info {
  display: block;
  margin-left: 0.75rem;
  overflow-x: hidden;
}
.rooms {
  height: calc(var(--vh) - 11.92rem);
  overflow: auto;
  border-bottom: 1px solid #6c757d;
}
.rooms .no-room {
  color: #6c757d;
  margin-left: 1rem;
  margin-right: 1rem;
}
.rooms-modal {
  max-height: 20rem;
  overflow-y: auto;
}
#room-modal-title {
  font-size: 1.25rem;
}
.home {
  width: calc(100vw - 20rem);
  background-color: #fff;
}
@media (max-width: 767.98px) {
  .home {
    width: 100%;
  }
}
.home .header {
  display: flex;
  display: -ms-flexbox;
  height: 4.2rem;
  padding: 0.5rem 1rem;
  background-color: #74c162;
  border-bottom: 1px solid #6c757d;
  align-items: center;
  -ms-flex-align: center;
}
.home .header .avatar {
  width: 3rem;
  height: 3rem;
  border: 1px solid #f8f9fa;
  padding: 0.1rem;
  background-color: #fff;
  border-radius: 50%;
}
.home .header .avatar.hide {
  display: none;
}
.home .header .name {
  line-height: 1;
  color: #fff;
  margin-bottom: 0;
  margin-left: 0.5rem;
  font-weight: 700;
}
.home .header .name span {
  display: block;
  line-height: 1.4;
  font-weight: 300;
  font-size: 0.9rem;
}
.home .header .open-sidebar {
  display: none;
  width: 2rem;
  height: 3rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  fill: #fff;
}
@media (max-width: 767.98px) {
  .home .header .open-sidebar {
    display: block;
  }
}
.home .header .menu {
  position: relative;
  display: inline-block;
  margin-left: auto;
  padding-top: 0.25rem;
  padding-top: 0;
}
.home .header .menu svg {
  width: 0.8rem;
  fill: #fff;
  margin-left: auto;
  margin-right: 0.5rem;
  cursor: pointer;
}
.home .header .menu div {
  position: absolute;
  right: 0;
  padding: 0.5rem 0;
  top: 2.9rem;
  border-radius: 0.5rem;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.home .header .menu div button {
  display: block;
  width: 100%;
  color: black;
  text-align: left;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  transition: all 0.15s ease-in-out;
}
.home .header .menu div button:focus {
  outline: none;
}
.home .header .menu div button:hover:not(:disabled):not(.disabled) {
  background-color: rgba(116, 193, 98, 0.15);
}
.home .header .menu svg {
  width: 1.5rem;
  margin-right: 0;
}
.home .header .menu div {
  top: 1.75rem;
}
.home .footer {
  padding: 1rem;
}
@media (max-width: 767.98px) {
  .home .footer {
    padding: 0.5rem;
  }
}
.home .footer textarea {
  resize: none;
}
.home .footer button {
  padding: 0 0.75rem;
}
.home .footer label {
  margin: 0;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}
.btn-send-file {
  padding: 0 0.75rem;
  border-radius: 0 0.25rem 0.25rem 0 !important;
}
.messages {
  height: calc(var(--vh) - 8.55rem);
  margin: 0;
  padding: 1rem;
  overflow-y: auto;
  border-bottom: 1px solid #6c757d;
}
@media (max-width: 767.98px) {
  .messages {
    height: calc(var(--vh) - 7.55rem);
  }
}
.messages .load-more {
  display: flex;
  display: -ms-flexbox;
}
.messages .load-more button {
  background-color: #ddd;
  margin: 0 auto 0.75rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  transition: all 0.15s ease-in-out;
}
.messages .load-more button:hover {
  background-color: #74c162;
  color: #fff;
}
.messages .load-more button:focus {
  outline: none;
}
.messages .message {
  width: 100%;
  margin-bottom: 0.25rem;
}
.messages .message .date {
  display: block;
  padding: 0.25rem 0.5rem;
  background: #ddd;
  font-size: 0.8rem;
  margin: 0 auto 0.5rem;
  text-align: center;
  width: 6rem;
  border-radius: 1rem;
}
.messages .message.left .chat .bubble {
  border-radius: 0 1rem 1rem 0;
}
.messages .message.left .chat .bubble .options .icon {
  background-color: #f8f9fa;
}
.messages .message.left .chat .bubble .options:not(.active) .icon:hover {
  background-color: #e6e6e6;
}
.messages .message.left .chat .bubble .options:not(.top) .menu.right {
  border-top-left-radius: 0;
}
.messages .message.left .chat .bubble .options.top .menu.right {
  border-bottom-left-radius: 0;
}
.messages .message.left .chat .bubble .options .menu.right {
  border-radius: 0.5rem;
  right: calc(-160px + 2rem);
}
.messages .message.right .chat .bubble {
  background-color: #75e05c;
  border-radius: 1rem 0 0 1rem;
}
.messages .message.right .chat .bubble:not(.first) .options .icon {
  border-top-right-radius: 0;
}
.messages .message .chat {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
}
.messages .message .chat .bubble {
  position: relative;
  font-size: 0.9rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  min-width: 15%;
  max-width: 65%;
  border: 1p solid #c1c1c1;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.messages .message .chat .bubble:hover .options .icon {
  opacity: 1;
}
.messages .message .chat .bubble.first {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.messages .message .chat .bubble.last {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.messages .message .chat .bubble.attachment {
  max-width: 16.5rem;
}
.messages .message .chat .bubble .attachment {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}
.messages .message .chat .bubble .attachment .file {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0.5rem 0.5rem;
}
.messages .message .chat .bubble .options {
  position: absolute;
  top: 0;
  right: 0;
}
.messages .message .chat .bubble .options.active .icon {
  opacity: 1;
  background-color: #f8f9fa;
}
.messages .message .chat .bubble .options.active:not(.top) .icon {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.messages .message .chat .bubble .options.active.top .icon {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 2;
  box-shadow: -0.05rem 0.15rem 0.5rem rgba(0, 0, 0, 0.25);
}
.messages .message .chat .bubble .options.active .menu {
  display: block;
}
.messages .message .chat .bubble .options:not(.active) .icon:hover {
  background-color: #50b838;
}
.messages .message .chat .bubble .options.top .menu {
  z-index: 1;
  border-radius: 0.5rem;
  border-bottom-right-radius: 0;
}
.messages .message .chat .bubble .options .icon {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  padding: 0.35rem 0.5rem;
  border-radius: 50%;
  background-color: #6dcc57;
  box-shadow: -0.05rem 0.075rem 0.5rem rgba(0, 0, 0, 0.25);
  transition: all 0.15s ease-in-out;
}
.messages .message .chat .bubble .options .icon svg {
  width: 1rem;
  fill: rgba(0, 0, 0, 0.75);
}
.messages .message .chat .bubble .options .menu {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  background-color: #f8f9fa;
  min-width: 160px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.messages .message .chat .bubble .options .menu button {
  display: block;
  width: 100%;
  color: black;
  text-align: left;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  transition: all 0.15s ease-in-out;
}
.messages .message .chat .bubble .options .menu button:focus {
  outline: none;
}
.messages .message .chat .bubble .options .menu button:hover:not(:disabled):not(.disabled) {
  background-color: rgba(116, 193, 98, 0.15);
}
.messages .message .chat .info {
  font-size: 75%;
  margin-left: 0.5rem;
  color: #6c757d;
}
.messages .message .chat .status {
  width: 1.15rem;
  margin-left: auto;
  margin-right: 0.5rem;
  opacity: 0.75;
}
